/public/videos/*
/public/images/*
/public/others/*
!.gitignore
!/public/videos/common/Jack-Broadbent.mp4
!/public/images/common/avatar.jpeg
!/public/images/common/upyun.png
!/public/images/common/alipay.png
!/public/images/common/wechat-pay.png
!/public/images/common/qr-alipay.png
!/public/images/common/qr-wechat.png